.projects {
    width: 100%;
    height: 2122px;
    box-sizing: border-box;
}

.projects__header {
    margin-bottom: 30px;
    width: 79px;
    height: 25px;
    font-size: 18px;
    line-height: 24.59px;
}

.projects__information-block {
    margin-bottom: 90px;
    width: 1150px;
    height: 548px;
    box-sizing: border-box;
}

.projects__image-block {
    margin-bottom: 15px;
    width: 100%;
    height: 450px;
}

.projects__title {
    margin-bottom: 15px;
    width: 100%;
    height: 41px;
    font-size: 30px;
    line-height: 40.98px;
}

.projects__detail {
    width: 127px;
    height: 27px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    line-height: 27.32px;
    color: #ad1818;
}

.projects__watch-projects-btn {
    font-family: 'manrope';
    font-weight: 400;
    width: 100%;
    height: 153px;
    font-size: 30px;
    line-height: 40.98px;
    color: #ad1818;
    border: 1px solid #ad1818;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.projects__watch-projects-btn:hover {
    color: #fff;
    background-color: #ad1818;
}
