.services {
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    background-color: black;
}

.services__header {
    margin-bottom: 34px;
    padding-top: 151px;
    width: 66px;
    height: 25px;
    line-height: 24.59px;
    font-size: 18px;
}

.services__information-block {
    margin-bottom: 60px;
}

.services__information-block:nth-last-child(1) {
    padding-bottom: 150px;
    margin-bottom: 0px;
}

.services__image-block {
    width: 1150px;
    height: 270px;
    padding-bottom: 15px;
}

.services__title {
    height: 41px;
    line-height: 40.98px;
    font-size: 30px;
}
